{% extends "layout.html" %}

{% block content %}

{% if session['logged_in'] %}
You're logged in already!

{% else %}
<p class="page-title">The world's simplest SMS-based workout tracker.</p>
<form action="/authenticate" method = "POST" class="login-form">
  <input type="email" name="email" placeholder="Your email"><br/>
  <input type="password" name="password" placeholder="Your password"><br/>
  <input type="submit" value="Log in">
</form>

<a href="/signup" class="cta">Create an account</a><br/>
<p>Copyright 2019 Leonard Lewis. All rights reserved.</p>

{% endif %}
{% endblock %}
