{% extends "layout.html" %}
{% block title %}
<a href="/" class="app-title"><h1>Dead Simple {{ day }} {{emoji}}</h1></a>
{% endblock %}
{% block content %}
<table class="table" id="workout">
  <tr>
    <th>Exercise</th>
    <th>Weight</th>
    <th>Reps</th>
    <th>Delete</th>
  </tr>
  {% for item in data %}
  <tr>
    <td>{{item.type}}</td>
    <td>{{item.weight}}</td>
    <td>{{item.reps}}</td>
    <td>
      <form action="/delete-exercise?id={{item.id}}&day={{day}}" method="POST">
        <input type="submit" value="Delete" class="delete">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<br/>
<br/>

<form action="/add-exercise?day={{ day }}" method="POST" id="exercise-adder">
  <input type="text" name="type" placeholder="Enter an exercise">
  <input type="number" name="weight" placeholder="Enter weight (lbs)">
  <input type="number" name="reps" placeholder="Enter number of reps">
  <input type="submit" value="Add">
</form>
<a href="/account" class="cta">Go back</a>
{% endblock %}
