{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <script src="/static/validate_signup.js"></script>
{% endblock %}

{% block content %}
<p class="page-title">Let's get you started!</p>
<form action="/create-user" method="POST" class="create-account-form">
  <input type="first" name="first" placeholder="Enter your first name"><br/>
  <input type="last" name="last" placeholder="Enter your last name"><br/>
  <input type="email" name="email" placeholder="Enter your email"><br/>
  <input type="password" name="password" placeholder="Create a password" id=pass1><br/>
  <input type="password" name="username" placeholder="Reenter your password" id=pass2><br/>
  <input type="tel" name="phone" placeholder="Enter your phone number"><br/>
  <input type="submit" value="Create Account" onclick="return signupValidate()">
</form>

<a href="/" class="cta">Go back</a>
{% endblock %}
